# remove data
/competitions/*/data/input/*
/competitions/*/data/output/*
/competitions/*/input/*
/competitions/*/output/*
/trick/EDA/data/*

# catboost
*.tsv
events.out.tfevents

# kaggle 
.kaggle-cli/

# python
__pycache__
*.pyc
.ipynb_checkpoints

# mac
.DS_Store
